.nav-pills .nav-item .active{
    background-color: #434343;
    color: #fff;
    transition: .6s all ease;

}

.nav-pills .nav-item a{

    border: 1px solid #f8f8f8;
    padding-inline: 10px
}

.nav-pills .nav-item {
    margin-inline: 10px;
}

.nav-pills .nav-item .active:hover {
    color: #434343;
    background-color: #fff;
    border: 1px solid #c2c2c2
}

.nav-pills .nav-item a:hover {
    color: #434343;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    transition: .6s all ease;
}


.input-date {
    max-width: 150px; 
}

.content .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.custom-table {
    min-width: 900px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    max-width: 200px;
}

.custom-table tbody th, .custom-table tbody td {
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px; 
}


.custom-table thead tr, .custom-table thead th {
    border-top: none;
    border-bottom: none !important;
}