.form-login div input {
    max-width: 100%;
    width: 400px;
    height: 2.5em;
    border-radius: 5px;
    color: #363636;
    box-shadow: 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    border: 1px solid transparent;
    border-color: rgb(118,122,133);
    padding-left: 1em;
}

.form-login label {
    font-weight: 700;
    color: rgb(118,122,133);
}

.form-login div button {
    border-radius: 5px;
    background-color: rgb(230,231,235);
    border-color: transparent;
    color: #363636;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 15px;
}

.error-text {
    color: red
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.input-group-login {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding-left: 10px
}